---
import Layout from '@layouts/Layout.astro'
import Form from '@components/Form'
---

<Layout title="Formulario de Datos">
	<main class="min-h-screen flex flex-col items-center p-20 gap-16">
		<header>
			<h1 class="text-2xl font-bold text-center">Completa los datos</h1>
		</header>

		<section>
			<Form client:visible />
		</section>
	</main>
</Layout>
